body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
}

.header {
    background-color: #E7D9D9;
    color: #000000;
    padding: 10px;
    text-align: left;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    height: 211px;
}

.header .figure {
    display: flex;
    justify-content: start;
    font-size: 24px;

position: absolute;
width: 373.33px;
padding-top: 40px;
height: 5px;
left: 130px;
border-bottom: 50px solid #DF8F8E;
border-left: 0 solid transparent;
border-right: 50px solid transparent;

position: absolute;
width: 382.67px;
height: 58.74px;
left: 187.33px;
top: 71.55px;
border-radius: 100px/50px;

background: rgba(175, 95, 96, 0.35);

}

.navigation {
    display: flex;
    justify-content: right;
    margin-top: 10px;
}

.list {
    list-style: none;
    display: flex;
}

.list li {
    margin: 0 10px;
    margin-top: 146px;
    margin-right: 135px;
    padding-left: 66px;
    font-weight: 400;
    font-size: 20px;
}

.list a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

.content {
    display: flex;
}

.body, .deer, .racoon {
    text-align: center;
    max-width: 400px;
    margin: 20px;
    padding-left: 236px;
    margin-left: 140px;
    margin-top: 26px;
    margin-bottom: 26px;
}


.picture {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.keywords {
    color: #333;
}

.button {
    background-color: #AF5F60;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 20px;
    width: 242.08px;
    height: 60px;
    font-weight: 700;
    font-size: 24px;
}

.button:hover {
    background-color: #555;
}

.footer {
    background-color: #E7D9D9;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 102px;
    position: relative;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}
